@page "{slug}"
@using BlogManagement.Application.Contract.ArticleCategory
@model ServiceHost.Pages.ArticleModel
@{
    ViewData["Title"] = @Model.Article.Title;
    ViewData["Keywords"] = @Model.Article.Keywords;
    ViewData["MetaDescription"] = @Model.Article.MetaDescription;
}
<div class="breadcrumb-area section-space--half">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-wrapper breadcrumb-bg">
                        <div class="breadcrumb-content">
                            <h1 class="breadcrumb-content__title">@Model.Article.Title</h1>
                            <ul class="breadcrumb-content__page-map">
                                <li>
                                    <a asp-page="./Index">Home</a>
                                </li>
                                <li>
                                    <a asp-page="/CategoryArticle" asp-route-slug="@Model.Article.CategorySlug">@Model.Article.CategoryName</a>
                                </li>
                             
                                <li class="active">@Model.Article.Title</li>
                            </ul>
                        </div>
                    </div>
                </div>co
            </div>
        </div>
    </div>

    <div class="page-content-area">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <!--=======  page wrapper  =======-->
    <div class="page-wrapper">
    <div class="page-content-wrapper">
        <div class="row">

            <div class="col-lg-9 order-1 order-lg-1">
                <!--=======  blog page content  =======-->
                <div class="blog-page-content">
                    <!--=======  blog post container  =======-->

                    <div class="blog-single-post-container">

                        <!--=======  post title  =======-->


                        <h3 class="post-title">@Model.Article.Title</h3>

                        <!--=======  End of post title  =======-->
                        <!--=======  Post meta  =======-->
                        <div class="post-meta">
                            <p>
                                <span>
                                    <i class="fa fa-calendar"></i> نوشته شده در: 
                                    @Model.Article.PublishDate
                                </span>
                            </p>
                        </div>

                        <!--=======  End of Post meta  =======-->
                        <!--=======  Post media  =======-->

                        <div class="single-blog-post-media">
                            <div class="image">
                                <img src="~/ProductPictures/@Model.Article.Picture"
                                     class="img-fluid" alt="@Model.Article.PictureAlt" title="@Model.Article.PictureTitle">
                            </div>
                        </div>

                        <!--=======  End of Post media  =======-->
                        <!--=======  Post content  =======-->

                        <div class="post-content">
                            @Html.Raw(Model.Article.Description)
                        </div>

                        <!--=======  End of Post content  =======-->
                        <!--=======  Tags area  =======-->

                        <div class="tag-area">
                            <span>تگ ها </span>
                            <ul>
                                @foreach(var tag in @Model.Article.KeyWordList)
                                {
                                    <li>
                                        <a asp-page="./Search" asp-route-value="@tag">@tag</a>
                                    </li>
                                }
                            </ul>
                        </div>

                        <!--=======  End of Tags area  =======-->
                        <!--=======  Share post area  =======-->

                    </div>

                    <!--=======  End of blog post container  =======-->
                    <!--=============================================
                    =            Comment section         =
                    =============================================-->


                    <!--=====  End of Comment section  ======-->
                </div>
                <!--=======  End of blog page content  =======-->
            </div>
            <div class="col-lg-3 order-2 order-lg-2">
                <!--=======  page sidebar wrapper =======-->
                <div class="page-sidebar-wrapper">
                    <!--=======  single sidebar widget  =======-->
                    <div class="single-sidebar-widget">

                        <h4 class="single-sidebar-widget__title">گروه مقالات</h4>
                        <ul class="single-sidebar-widget__category-list">
                            @foreach (var ArticleCategory in Model.ArticleCategories)
                            {
                                <li>
                                    <a asp-page="./ArticleCategory" asp-route-slug="@ArticleCategory.Slug">@ArticleCategory.Name <span class="counter">@ArticleCategory.ArticlesCount</span></a>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="single-sidebar-widget">

                        <h4 class="single-sidebar-widget__title">اخرین مفالات</h4>
                        <div class="block-container">
                            @foreach (var Article in Model.LatestArticles)
                            {
                                <div class="single-block d-flex">
                                    <div class="image">
                                        <a href="blog-post-image-format.html">
                                            <img src="~/ProductPictures/@Article.Picture" title="@Article.PictureTitle"
                                                 class="img-fluid" alt="@Article.PictureAlt">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <p>
                                            <a asp-page="./Article" asp-route-slug="@Article.Slug">
                                                @Article.Title
                                            </a> <span>@Article.PublishDate</span>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>

                        <!--=======  End of block container  =======-->
                    </div>
                    <!--=======  End of single sidebar widget  =======-->
                    <!--=======  single sidebar widget  =======-->
                    <div class="single-sidebar-widget">

                        <h4 class="single-sidebar-widget__title">Recent Comments</h4>

                        <!--=======  block container  =======-->

                        <div class="block-container">

                            <!--=======  single block  =======-->

                            <div class="single-block comment-block d-flex">
                                <div class="image">
                                    <a href="blog-post-image-format.html">
                                        <img src="assets/img/blog/comment-icon.png"
                                             class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <p>
                                        <span>Admin Says</span> <a
                                                                    href="blog-post-image-format.html">The biggest lie in
                                            plant</a>
                                    </p>
                                </div>
                            </div>

                            <!--=======  End of single block  =======-->
                            <!--=======  single block  =======-->
                        </div>

                        <!--=======  End of block container  =======-->
                    </div>
                    <!--=======  End of single sidebar widget  =======-->
                    <!--=======  single sidebar widget  =======-->
                    <div class="single-sidebar-widget">
                        <h4 class="single-sidebar-widget__title">تگ ها</h4>
                        <ul class="single-sidebar-widget__tag-list">
                            @foreach(var tag in @Model.Article.KeyWordList)
                            {
                                <li>
                                    <a asp-page="./Search" asp-route-value="@tag">@tag</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!--=======  End of single sidebar widget  =======-->
                </div>
                <!--=======  End of page sidebar wrapper  =======-->
            </div>
        </div>
    </div>
            
    <div class="comment-section">
        <h3 class="comment-counter">کامنت @Model.Article.Comments.Count</h3>
        <div class="comment-container">

            @foreach (var comment in Model.Article.Comments)
            {
                <div class="single-comment" id="comment-@comment.Id">
                    <span class="reply-btn">
                        <a href="#postComment" onclick='$("#commentParentId").val(@comment.Id)' >پاسخ</a>
                    </span>
                        
                    <div class="image">
                        <img src="~/Theme/assets/img/blog/comment-icon.png" alt="">
                    </div>
                    <div class="content">
                        <h3 class="user">@comment.Name <span class="comment-time">@comment.CreationDate</span></h3>
                        @if (comment.ParentId > 0)
                        {
                            <p>
                                <span>در پاسخ به: </span><a href="#comment-@comment.ParentId">@comment.ParentName</a>
                            </p>
                        }
                        <p class="comment-text">@comment.Message</p>
                    </div>
                </div>
            }

            <!--=======  comment container  =======-->

            <!--=======  single comment  =======-->

                  
            <!--=======  End of comment container  =======-->
            <!--=======  comment form container  =======-->
            <div class="comment-form-container">
                <h3 class="comment-form-title">نظر خود را به اشتراک بگزارید</h3>
                <p>ایمیل شما برای دیگران قابل دیدن نیست</p>

                <!--=======  comment form  =======-->

                <div class="comment-form" id="postComment">
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>کامنت</label>
                                    <textarea name="Message"  placeholder="نظر خود زا بنویسید"
                                                                        id="commentMessage"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>نام <span class="required">*</span></label>
                                    <input type="text" name="Name">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>ایمیل <span class="required">*</span></label>
                                    <input type="text" name="Email">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>سایت</label> 
                                    <input type="text" name="Website">
                                </div>
                            </div>
                            <input type="hidden" name="ownerRecordId" value="@Model.Article.Id" />
                            <input type="hidden" name="parentId" id="commentParentId"  value="1"/>
                            <input type="hidden" name="articleSlug" value="@Model.Article.Slug" />
                            <div class="col-lg-12">
                                <button type="submit" class="comment-btn"
                                        name="submit">ارسال </button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="social-share-buttons">
                    <h3>share this post</h3>
                    <ul>
                        <li>
                            <a class="twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="google-plus" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a class="pinterest" href="#">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--=======  End of comment form  =======-->
            </div>

            <!--=======  End of comment form container  =======-->

        </div>

    </div>

    <!--=======  End of page wrapper  =======-->
    </div>
    
    </div>
    </div>
    </div>
    </div>


<div class="offcanvas-mobile-menu" id="offcanvas-mobile-menu">
        <a href="javascript:void(0)" class="offcanvas-menu-close" id="offcanvas-menu-close-trigger">
            <i class="ion-android-close"></i>
        </a>

        <div class="offcanvas-wrapper">

            <div class="offcanvas-inner-content">
                <div class="offcanvas-mobile-search-area">
                    <form action="#">
                        <input type="search" placeholder="Search ...">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index.html">Home 01</a>
                                </li>
                                <li>
                                    <a href="index-2.html">Home 02</a>
                                </li>
                                <li>
                                    <a href="index-3.html">Home 03</a>
                                </li>
                                <li>
                                    <a href="index-4.html">Home 04</a>
                                </li>
                                <li>
                                    <a href="index-5.html">Home 05</a>
                                </li>
                                <li>
                                    <a href="index-6.html">Home 06</a>
                                </li>
                                <li>
                                    <a href="index-7.html">Home 07</a>
                                </li>
                                <li>
                                    <a href="index-8.html">Home 08</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children">
                                    <a href="#">Page List One</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="cart.html">Cart</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html">Checkout</a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html">Wishlist</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Page List Two</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="my-account.html">My Account</a>
                                        </li>
                                        <li>
                                            <a href="login-register.html">Login Register</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Page List Three</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="compare.html">Compare</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact</a>
                                        </li>
                                        <li>
                                            <a href="about.html">About Us</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children">
                                    <a href="#">Shop Grid</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="shop-3-column.html">shop 3 column</a>
                                        </li>
                                        <li>
                                            <a href="shop-4-column.html">shop 4 column</a>
                                        </li>
                                        <li>
                                            <a href="shop-left-sidebar.html">shop left sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-right-sidebar.html">shop right sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop List</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="shop-list.html">shop List</a>
                                        </li>
                                        <li>
                                            <a href="shop-list-left-sidebar.html">shop List Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-list-right-sidebar.html">shop List Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product One</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="single-product.html">Single Product</a>
                                        </li>
                                        <li>
                                            <a href="single-product-variable.html">Single Product variable</a>
                                        </li>
                                        <li>
                                            <a href="single-product-affiliate.html">Single Product affiliate</a>
                                        </li>
                                        <li>
                                            <a href="single-product-group.html">Single Product group</a>
                                        </li>
                                        <li>
                                            <a href="single-product-tabstyle-2.html">Tab Style 2</a>
                                        </li>
                                        <li>
                                            <a href="single-product-tabstyle-3.html">Tab Style 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product Two</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="single-product-gallery-left.html">Gallery Left</a>
                                        </li>
                                        <li>
                                            <a href="single-product-gallery-right.html">Gallery Right</a>
                                        </li>
                                        <li>
                                            <a href="single-product-sticky-left.html">Sticky Left</a>
                                        </li>
                                        <li>
                                            <a href="single-product-sticky-right.html">Sticky Right</a>
                                        </li>
                                        <li>
                                            <a href="single-product-slider-box.html">Slider Box</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-post-left-sidebar.html">Blog Post Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-post-right-sidebar.html">Blog Post Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="blog-post-image-format.html">Blog Post Image Format</a>
                                </li>
                                <li>
                                    <a href="blog-post-image-gallery.html">Blog Post Image Gallery</a>
                                </li>
                                <li>
                                    <a href="blog-post-audio-format.html">Blog Post Audio Format</a>
                                </li>
                                <li>
                                    <a href="blog-post-video-format.html">Blog Post Video Format</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>

                <div class="offcanvas-settings">
                    <nav class="offcanvas-navigation">
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="#">MY ACCOUNT </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="login-register.html">Register</a>
                                    </li>
                                    <li>
                                        <a href="login-register.html">Login</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">CURRENCY: USD </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:void(0)">€ Euro</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">$ US Dollar</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">LANGUAGE: EN-GB </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:void(0)"><img src="assets/img/icons/en-gb.png" alt="">
                                            English</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="assets/img/icons/de-de.png" alt="">
                                            Germany</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="offcanvas-widget-area">
                    <div class="off-canvas-contact-widget">
                        <div class="header-contact-info">
                            <ul class="header-contact-info__list">
                                <li>
                                    <i class="ion-android-phone-portrait"></i> <a href="tel://12452456012">(1245) 2456
                                        012 </a>
                                </li>
                                <li>
                                    <i class="ion-android-mail"></i> <a
                                        href="mailto:info@yourdomain.com">info@yourdomain.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Off Canvas Widget Social Start-->
                    <div class="off-canvas-widget-social">
                        <a href="#" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" title="LinkedIn">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#" title="Youtube">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                        <a href="#" title="Vimeo">
                            <i class="fa fa-vimeo-square"></i>
                        </a>
                    </div>
                    <!--Off Canvas Widget Social End-->
                </div>
            </div>
        </div>
        </div>


    <div class="search-overlay" id="search-overlay">
        <a href="javascript:void(0)" class="close-search-overlay" id="close-search-overlay">
            <i class="ion-ios-close-empty"></i>
        </a>

        <!--=======  search form  =======-->

        <div class="search-form">
            <form action="#">
                <input type="search" placeholder="Search entire store here ...">
                <button type="submit">
                    <i class="ion-android-search"></i>
                </button>
            </form>
        </div>

        <!--=======  End of search form  =======-->
    </div>


    <!-- scroll to top  -->
    <div id="scroll-top">
        <span>Back to top</span><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
    </div>
    <!-- end of scroll to top -->
    <!-- Vendor JS -->
    <script src="~/Theme/assets/js/vendors.js"></script>

    <!-- Active JS -->
<script src="~/Theme/assets/js/active.js"></script>

<script>
    /*$("#One").onclick(function() {
        var one = $("#One").value;
        $('#commentParentId').val()
    })*/

/*

    $("#One").click(function(){
        var s= $('#One').val();
        $("#commentParentId").val(s);
    })*/;

    /*$(document).ready(function() {

      var s=  $("#One").val();
      alert(s);
      $("#commentParentId").val(s)
        alert(s);


    })*/
</script>

